*{
   margin: 0;
   padding: 0;
   background-color: aquamarine;
   }
   
.odinlogo {
   display: flex;
   margin-top: 0px;
   grid-template-columns: 1fr 1fr;
   float: left;
   width: 30%;
   height: 100%;
   }

.cont{
   color: navy;
   background-color: aquamarine;
   width: 65%;
   float: right;
   padding: 3px 6px 0px;
   font-family: Arial;
   font-size: 10px;
   color: navy;
   height: 100%;
   margin-top: 1%;
   }
