*{
margin: 0;
padding: 0;
}

.odinlogo {
   display: flex;
   margin-top: 0px;
   grid-template-columns: 1fr 1fr;
   float: left;
   width: 30%;
}

.cont{
   margin-top: 2%;
   margin-left: 30%;
   color: navy;
   background-color: aquamarine;
   width: 100%;
   padding: 20px 10px 0px;
   font-family: Arial;
    font-size: 16px;
    color: navy;
    line-height: 45px;
}
.con1 {
   margin-top: 1.5%;
   margin-right: 50%;
   float: right;
   color: rebeccapurple;
   padding: 20px 30px 20px;
   font-family: arial;
   font-size: 14px;
   line-height: 40px;
}

.con2{
   float: left;
}

@media screen and (min-width: 768px){
      .odinlogo {
      display: flex;
      margin-top: 0px;
      grid-template-columns: 1fr 1fr;
      float: left;
      width: 50%;
      }

     .cont{
        width: 600px;
        padding: 15px 5px 5px;
     }


@media screen and (min-width: 1000px){  
   .odinlogo {
      display: flex;
      margin-top: 0px;
      grid-template-columns: 1fr 1fr;
      float: left;
      width: 40%;
      }
   
    .cont{
       width: 1000px;       
    }
   
    .con1 {
       float: right;
       width: 80%;
       padding: 20px 10px 10px; 
    }  
   
   .con2{
      float: left;
     }

button {
   color: #596D48;
}

input {
   color: black;
   border-color: red;
   box-shadow: #E5E7EB;
}

:hover{
   border-color: blue;
}
